<h1>マイページ</h1>
<h4>登録情報</h4>

<div class="container">
  <div class="row">
    <div class="col">
      <h4>氏名</h4>
      <%= @customer.last_name + @customer.first_name %>
    </div>
    <div class="col">
      <h4>メールアドレス</h4>
      <%= @customer.email %>
    </div>
    <div class="col">
      <h4>いいね一覧（お気に入り）</h4>
      <%= link_to "見る", nices_path %>
    </div>
    <div class="col">
      <h4>メニュー投稿</h4>
      <%= link_to "投稿する", new_menu_path %>
    </div>
    <% unless current_customer.email == 'guest@example.com' %>
      <h4>登録情報</h4>
      <%= link_to "編集する", customers_mypage_edit_path %>
    <% end %>
  </div>
</div>