<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>ジャンル</h3>
      <ul>
        <% @genre.each do |genre| %>
          <div style="font-size: 20px"><%= link_to genre.genre_name, genre_path(genre.id) %></div>
        <% end %>
      </ul>
    </div>
    <div class="col-md-9">
      <div style="font-size: 30px">
        この度は、本サイトを閲覧いただきありがとうございます。<br />
        本サイトでは、体力作りをしたい方や、痩せたいけど何から<br />
        始めればいいのかわからない方のためのサイトです。
      </div>
        
      
      
      <div class="body-wrapper">
        <%= image_tag "全身画像2.jpg", alt: "", usemap: "#image-map", class: "img-fluid" %>
        <div class="body-parts">
        </div>
        <map name="image-map">
        	<area alt="腕" title="腕" href="<%= genre_path(@genre.find_by(genre_name: "腕").id) %>" target="" coords="398,617,497,335" shape="rect">
        	<area alt="腕" title="腕" href="<%= genre_path(@genre.find_by(genre_name: "腕").id) %>" target="" coords="157,348,57,627" shape="rect">
        	<area alt="背中" title="背中" href="<%= genre_path(@genre.find_by(genre_name: "背中").id) %>" target="" coords="780,283,1030,517" shape="rect">
        	<area alt="足" title="足" href="<%= genre_path(@genre.find_by(genre_name: "足").id) %>" target="" coords="421,1006,276,621" shape="rect">
        	<area alt="足" title="足" href="<%= genre_path(@genre.find_by(genre_name: "足").id) %>" target="" coords="137,629,268,1004" shape="rect">
        	<area alt="お尻" title="お尻" href="<%= genre_path(@genre.find_by(genre_name: "お尻").id) %>" target="" coords="789,536,1037,668" shape="rect">
        	<area alt="おなか" title="おなか" href="<%= genre_path(@genre.find_by(genre_name: "おなか").id)%>" target="" coords="171,464,388,554" shape="rect">
        	<area alt="首・肩" title="首・肩" href="<%= genre_path(@genre.find_by(genre_name: "首・肩").id)%>" target="" coords="127,266,440,323" shape="rect">
        	<area alt="胸" title="胸" href="<%= genre_path(@genre.find_by(genre_name: "胸").id) %>" target="" coords="156,349,400,444" shape="rect">
        </map>
      </div> 
    </div>
  </div>
</div>


<script>
  $(document).off('turbolinks:load').on('turbolinks:load', function() {
  jQuery( 'img[usemap]' ).rwdImageMaps();
  })
</script>

