<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>ジャンル</h3>
      <ul>
        <% @genre.each do |genre| %>
          <li><%= link_to genre.genre_name, genre_path(genre.id) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-9">
      <h2 class= "col px-3 mx-auto">
        この度は、本サイトを閲覧いただきありがとうございます。<br />
        本サイトでは、体力作りをしたい方や、痩せたいけど何から<br />
        始めればいいのかわからない方のためのサイトです。
      </h2>
      
      <div class="body-wrapper">
        <%= image_tag "全身画像.jpg", alt: "", usemap: "#image-map", class: "img-fluid" %>
        <div class="body-parts">
          <div id="ude">ude</div>
        </div>
        <map name="image-map">
        	<area alt="腕" title="腕" href="<%= genre_path(1) %>" target="" coords="398,617,497,335" shape="rect">
        	<area alt="" title="b" href="<%= genre_path(1) %>" target="" coords="303,277,407,341" shape="rect">
        	<area alt="" title="c" href="<%= genre_path(2) %>" target="" coords="301,345,417,505" shape="rect">
        	<area alt="" title="d" href="<%= genre_path(3) %>" target="" coords="73,158,167,235" shape="rect">
        	<area alt="" title="e" href="<%= genre_path(4) %>" target="" coords="37,309,87,146" shape="rect">
        	<area alt="" title="f" href="全身.jpg" target="" coords="202,309,160,148" shape="rect">
        	<area alt="" title="g" href="全身.jpg" target="" coords="284,146,416,164" shape="rect">
        	<area alt="" title="h" href="全身.jpg" target="" coords="137,145,103,133" shape="rect">
        	<area alt="" title="i" href="全身.jpg" target="" coords="122,255,44" shape="circle">
        </map>
      </div> 
    </div>
  </div>
</div>

<script>
  jQuery( 'img[usemap]' ).rwdImageMaps();
</script>

<style>

</style>