<h1>メニュー編集</h1>
<%= form_with model: @menu, url: edit_menu_path do |f| %>
<div class="cotainer">
  <div class="row">
    <h4>イメージ図</h4>
    <%= f.label_field :menu_iamge, accept: "iamge/*" %>
  </div>
  <div class="row">
    <h4>メニュー名</h4>
    <%= f.label_field :menu_name, autofocus: true %>
  </div>
  <div class="row">
    <h4>ジャンル</h4>
    <%= f.select :genre_id %>
    <%= hidden_field :genre_id :value => menu.genre.id %>
  </div>
  <div class="row">
    <h4>コメント</h4>
    <%= f.text_area :@menu.comment %>
  </div>
</div>
<% end %>
<%= f.submit "編集内容を保存する" %>
<%= link_to "削除する", destroy_menu_path, method: :delete, "data-confirm" => "削除しますか？" %> 
