<h1>新規メニュー登録</h1>
<%= form_with model: @menus, url: new_menu_path %>
<div class="row">
  <div class="col">
    <div><%= f.label :menu_name, "メニュー名" %></div>
    <diV><%= f.text_field :menu_name, autofocus: true %></diV>
  </div>
  <div class="col">
    <div><%= f.label :menu_image, "イメージ図" %></div>
    <div><%= f.file_field :menu_image, acceot: "image/*" %></div>
  </div>
  <div class="col">
    <div><%= f.label :menu_introduction, "メニュー説明" %></div>
    <div><%= f.text_area :menu_introduction %></div>
  </div>
  <div class="col">
    <div><%= f.select :genre_id %></div>
    <div><%= f.hidden_field :genre_id, :value => menu.genre.id %><div>
  </div>
  <div class="col">
    <div id="evaluate_stars">
      <label>難易度</label>
    </div>
  </div>
  <div class="actions">
   $('#evaluate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'menu[difficulty]'
     });
  </div>
</div>