<h1>メニュー詳細</h1>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div>メニュー画像</div>
      <!--<div>投稿者<%#= @customer.last_name + @customer.first_name %></div>-->
      
      <div><%= image_tag @menu.get_menu_image(200,200), class: 'img-fluid' %></div>
      <% if customer_signed_in? && current_customer == @customer %>
        <div class="mt-3">
          <%= link_to "編集する", edit_menu_path, class: "btn btn-success" %>
        </div>
      <% end %>
      <div class="mt-3"><%= link_to "戻る", :back, class: "btn btn-danger" %></div>
       <div class="mt-3">
         <% if current_customer.present? %>
         <% if @menu.favorited_by?(current_customer) %>
         <!--<p>-->
           <%= link_to menu_nice_path(@menu), method: :delete do %>
           ♥<%= @menu.nices.count %>いいね
           <% end %>
         <!--</p>-->
         <% else %>
         <!--<p>-->
           <%=link_to menu_nice_path(@menu), method: :post do %>
           ♡<%= @menu.nices.count %>いいね
           <% end %>
          <% end %>
         <% end %>
         <!--</p>-->
       </div>
    </div>
    <div class="col-6">
      <div class="row mb-3">
        <div class="col">メニュー名</div>
      　<div class="col"><%= @menu.menu_name %></div>
      </div>
      <div class="row mb-3">
        <div class="col">ジャンル</div>
        <div class="col"><%= @menu.genre.genre_name %></div>
      </div>
    
      <div class="row mb-3">
        <div class="col">難易度</div>
        <div class="col"><div id="difficulty_raty"></div>
            <script>
             $(document).on('turbolinks:load', function() {
                 
               let elem = document.querySelector('#difficulty_raty');
                
               if (elem == null) return;
                
               elem.innerHTML = ""
               let opt = {  
                 starOn: "<%= asset_path('star-on.png') %>",
                 starOff: "<%= asset_path('star-off.png') %>",
                 score: <%= @menu.difficulty %>,
                 readOnly: true
               };
                 raty(elem, opt);
               });
            </script>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">メニュー説明</div>
        <div class="col"><%= @menu.menu_introduction %></div>
      </div>
      <div class="row mb-3">
        <div class="col">
        <div id="commentpage"><%= render "public/menus/comments", menu: @menu, comments: @comments %></div>
       </div>
         <div class="col">
           <%= form_with model: [@menu, @comment] do |f| %>
             <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
             <%= f.submit "送信する" %>
           <% end %>
         </div>
         
       </div>
      </div>
    </div>
   </div>
 </div>
