<h1>お気に入り一覧</h1>
<div class="container">
<% @nices.each do |nice| %>

  <div class="row d-flex justify-content-end mt-5">
      <div class="col-lg-4">
        <h4>メニュー名</h4>
        <%= nice.menu.menu_name %>
      </div>
      
      <div class="col-lg-4">
        <h4>ジャンル</h4>
        <%= nice.menu.genre.genre_name %>
      </div>
      
      <div class="col-lg-4">
        <h4>難易度</h4>
          <div id="difficulty_raty<%= nice.menu.id %>" class="classRaty" data-score="<%= nice.menu.difficulty %>"></div>
         <script>
          $(document).on('turbolinks:load', function() {
            let elem = document.querySelector('#difficulty_raty<%= nice.menu.id %>');
            if (elem == null) return;
      
            elem.innerHTML = ""
            let opt = {  
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              score: <%= nice.menu.difficulty %>,
              readOnly: true
            };
              raty(elem, opt);
            });
          </script>
          <div><%= link_to"詳細を見る",menu_path(nice.menu.id), class: "btn btn-info" %></div>
      </div>
  </div>
</div>

<% end %>



