<!DOCTYPE html>
<html>
  <head>
    <title>管理者ログイン</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/4337598bf6.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-dark">
        <div class="container">
          <!--#管理者側ヘッダー-->
          <h1><%= link_to "誰でも！いつでも！自宅で手軽にできるトレーニングメニュー", new_admin_session_path, class: 'nav-item navbar-brand' %></h1>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <% if admin_signed_in? %>
                  <%= form_with(url: searchs_path, method: :get, local: true) do %>
                      <%= text_field_tag :search, params[:search] %>
                      <%= submit_tag "Search" %>
                    <% end %>
                  <li class="nav-item">
                    <%= link_to admin_customers_path, class: 'nav-link text-light' do %>
                      <i class="fas fa-users" aria-hidden="true"></i>
                      会員一覧
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to admin_menus_path, class: 'nav-link text-light' do %>
                      <i class="fas fa-book-open" aria-hidden="true"></i>
                      メニュー一覧
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to admin_genre_index_path, class: 'nav-link text-light' do %>
                      <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                      ジャンル一覧
                    <% end %>
                  <li class="nav-item">
                    <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
                      <i class="fa-solid fa-right-from-bracket" aria-hidden="true"></i>
                      ログアウト
                    <% end %>
                  <li class="nav-item">
                    <%= link_to admin_root_path, class: 'nav-link text-light' do %>
                      <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                      管理者TOP
                    <% end %>
                    <!--カスタマー側のリンクを作成-->
                    <% elsif customer_signed_in? %>
                      
                  <li class="nav-item">
                    <%= link_to customers_mypage_path, class: 'nav-link text-light' do %>
                      <i class="fa-solid fa-user" aria-hidden="true"></i>
                      マイページ
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to about_path, class: 'nav-link text-light' do %>
                      <i class="fa-solid fa-face-smile" aria-hidden="true"></i>
                    　アバウトページ
                    <% end %>
                  </li>
                  
                  <li class="nav-item">
                    <%= link_to menus_path, class: 'nav-link text-light' do %>
                      <i class="fa-solid fa-list" aria-hidden="true"></i>
                      メニュー一覧
                    <% end %>
                  <li class="nav-item">
                    <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-light' do %>
                      <i class="fa-solid fa-right-from-bracket" aria-hidden="true"></i>
                      ログアウト
                    <% end %>
                  <li class="nav-item">
                    <%= link_to root_path, class: 'nav-link text-light' do %>
                      <i class="fa-solid fa-house" aria-hidden="true"></i>
                      ユーザーTOP
                    <% end %>
                  <li class="nav-item"></li>
                    <%= form_with(url: searchs_path, method: :get, local: true) do %>
                      <%= text_field_tag :search, params[:search] %>
                      <%= submit_tag "Search" %>
                    <% end %>
                  <% else %>
                  <!--#ここから先は各転移先を記入する。-->
                  <li class="nav-item">
                    <%= link_to new_customer_session_path, class: 'nav-link text-light' do %>
                      <i class="fa-solid fa-key" aria-hidden="true">
                      </i>
                      ログイン
                    <% end %>
                  </li>
                
                  <li class="nav-item">
                    <%= link_to new_customer_registration_path, class: 'nav-link text-light' do %>
                      <i class="fas fa-user-plus" aria-hidden="true"></i>
                      新規登録
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to customers_guest_sign_in_path, method: :post, class: 'nav-link text-light' do %>
                      <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
                      ゲストログイン
                    <% end %>
                  </li>
                  <li class="nv-item">
                    <%= link_to admin_menus_path, class: 'nav-link text-light' do %>
                     <i class="fa-solid fa-list" aria-hidden="true"></i>
                    メニュー一覧
                    <% end %> 
                  </li>
        
                   
                <% end %> 
              
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main class="mb-auto">
      
    <%= yield %>
    </main>
  </body>
</html>